.form {
  display: grid;
  gap: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.input {
  background-color: rgb(199, 199, 199);
  border: solid 1px grey;
  border-radius: 5px;
  height: 20px;
}

.button {
  background-color: rgb(199, 199, 199);
  border: solid 1px grey;
  border-radius: 5px;
  height: 24px;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgb(188, 188, 188);
}
